HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
infra/data
md/
json/
local-storage/
threadly-apps/app-api/src/test/resources/images/temp/
infra/compose/local/app/.env.local
runner/
infra/grafana/
**/.jqwik-database

infra/loki-stack/loki/*
!infra/loki-stack/loki/config.yml
infra/loki-stack/promtail/*
!infra/loki-stack/promtail/config.yml
infra/image_tag.txt
infra/LOG_FILE
infra/volumes
.env


logs/
.claude/
package-lock.json
package.json
node_modules/
.claude/
load-test/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Documentation ###
/docs/*
!/docs/troubleshooting
!/docs/images
