name: CI

on:
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches:
      - develop
      - master
    paths-ignore:
      - 'README.md'
      - 'docs/**'
      - '.github/**'
      - '.gitignore'
  workflow_dispatch:
    inputs:
      runMode:
        description: "test of full"
        default: "test"
        required: false
concurrency:
  group: ci-pr-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 체크아웃
        uses: actions/checkout@v4

      - name: JDK 21 설치
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Gradle 환경 세팅 및 캐싱
        uses: gradle/actions/setup-gradle@v4

      - name: Docker compose 실행
        run: |
          docker compose -f ./infra/compose/test/docker-compose.yml up -d

      - name: 테스트 실행 및 모듈별 커버리지 생성
        run: |
          ./gradlew test --no-daemon

      - name: 모듈별 커버리지 Summary 생성
        if: always()
        run: |
          ./gradlew printCoverageSummaryMarkdown --no-daemon
          cat build/reports/coverage-summary.md >> $GITHUB_STEP_SUMMARY

      - name: 모듈별 커버리지 리포트 업로드
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-reports
          path: |
            **/build/reports/jacoco/test/**
          retention-days: 3

      - name: 테스트 리포트 업로드
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: |
            **/build/reports/tests/**
          retention-days: 3



      - name: Docker compose 종료
        if: always()
        run: |
          docker compose -f ./infra/compose/test/docker-compose.yml down



